<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <title>Star Cuisine</title>
  <link type="text/css" rel="stylesheet" href="styles/globalStyles.css">
  <link type="text/css" rel="stylesheet" href="styles/components.css">
  <link type="text/css" rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>

<body>
  <!-- Nav Section -->
  <%- include ("../partials/header.ejs") %>
  <!-- Hero Section -->
  <section id="hero">
    <div class="container">
      <div class="hero__wrapper">
        <div class="hero__left">
          <div class="hero__left__wrapper">

            <h1 class="hero__heading">Smakupplevelser från hela världen</h1>
            <p class="hero__info">
              Vi är en mångkulturell restaurang som erbjuder en smakresa runt jorden med en mix av traditionella och moderna rätter, serverade i en avslappnad och välkomnande atmosfär.
            </p>
            <div class="button__wrapper">
              <a href="menu" class="btn primary-btn">Utforska Meny</a>
              <a href="booking" class="btn">Boka Bord</a>
            </div>
          </div>
        </div>
        <div class="hero__right">
          <div class="hero__imgWrapper">
            <img src="./images/heroImg.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Store Info Section -->
  <section id="storeInfo">
    <div class="container">
      <div class="storeInfo__wrapper">
        <div class="storeInfo__item">
          <div class="storeInfo__icon">
            <img src="./images/wall-clock-icon.svg" alt="clock icon">
          </div>
          <h3 class="storeInfo__title">
            10 AM - 7 PM
          </h3>
          <p class="storeInfo__text">
            Våra Öppettider
          </p>
        </div>
        <div class="storeInfo__item">
          <div class="storeInfo__icon">
            <img src="./images/address-icon.svg" alt="clock icon">
          </div>
          <h3 class="storeInfo__title">
            Vikingavägen 2
          </h3>
          <p class="storeInfo__text">
            Address
          </p>
        </div>
        <div class="storeInfo__item">
          <div class="storeInfo__icon">
            <img src="./images/phone-icon.svg" alt="clock icon">
          </div>
          <h3 class="storeInfo__title">
            +46 70 123 45 67
          </h3>
          <p class="storeInfo__text">
            Call Now
          </p>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Our Specials Section -->
  <section id="ourSpecials">
    <div class="container">
      <div class="ourSpecials__wrapper">
        <div class="ourSpecials__left">
          <div class="ourSpecials__item">
            <div class="ourSpecials__item__img">
              <img src="./images/food-3.png" alt="mat bild">
            </div>
            <h2 class="ourSpecials__item__title">
              Söt Potatis Pommes Frites Skål
            </h2>
            <h3 class="ourSpecials__item__price">
              $18
            </h3>
            <div class="ourSpecials__item__stars">
              <img src="./images/3star.png" alt="3 stjärnor">
            </div>
            <p class="ourSpecials__item__text">
              Dessa Sötpotatis Pommes Frites skål är en härlig, rörig tallrik av godhet. Krispiga sötpotatis pommes frites lastade med massor av färska sommargrönsaker och en lime ranch. Genom att lägga till en kryddblandning med chipotle-pulver, vitlök och lök, är dessa kryddiga sötpotatispommes frites fulla av smak.
            </p>
          </div>
          <div class="ourSpecials__item">
            <div class="ourSpecials__item__img">
              <img src="./images/food-1.png" alt="mat bild">
            </div>
            <h2 class="ourSpecials__item__title">
              Vegan Sallad Skål
            </h2>
            <h3 class="ourSpecials__item__price">
              $18
            </h3>
            <div class="ourSpecials__item__stars">
              <img src="./images/3star.png" alt="3 stjärnor">
            </div>
            <p class="ourSpecials__item__text">
              Vegansalladskål är enormt tillfredsställande med vilken kombination av hela korn, baljväxter, nudlar, råa eller tillagade frukter och grönsaker som helst, allt toppat med en läcker sås eller dressing - varje tugga är en explosion av smaker och texturer.
            </p>
          </div>
        </div>
        <div class="ourSpecials__right">
          <h2 class="ourSpecials__title">
            Våra Specialiteter
          </h2>
          <p class="ourSpecials__text">
            All vår mat förbereds dagligen på våra restauranger för att säkerställa att de högsta kvalitets-, fräschaste måltiderna levereras till våra kunder
          </p>
          <a href="booking" class="btn primary-btn">Boka Bord</a>
        </div>
      </div>
    </div>
  </section>
 



 <!-- Card slider -->
<h1 class="slider-heading">Våra Hjältar</h1>
<div class="wrapper">
  <i id="left" class="fa-solid fa-angle-left"></i>
  <ul class="carousel">
    <li class="card">
      <div class="img">
        <img src="./images/chef.jpg" alt="img" draggable="false" />
      </div>
      <h2>Blanche Pearson</h2>
      <span>Huvud Kock</span>
    </li>
    <li class="card">
      <div class="img">
        <img src="./images/chef3.jpg" alt="img" draggable="false" />
      </div>
      <h2>Joenas Brauers</h2>
      <span>Köksbiträde</span>
    </li>
    <li class="card">
      <div class="img">
        <img src="./images/chef4.jpg" alt="img" draggable="false" />
      </div>
      <h2>Lariach French</h2>
      <span>Servitör</span>
    </li>
    <li class="card">
      <div class="img">
        <img src="./images/chef5.jpg" alt="img" draggable="false" />
      </div>
      <h2>James Khosravi</h2>
      <span>Kock</span>
    </li>
    <li class="card">
      <div class="img">
        <img src="./images/chef6.jpg" alt="img" draggable="false" />
      </div>
      <h2>Kristina Zasiadko</h2>
      <span>Patissier</span>
    </li>
    <li class="card">
      <div class="img">
        <img src="./images/chef7.jpg" alt="img" draggable="false" />
      </div>
      <h2>Donald Horton</h2>
      <span>Kökschef</span>
    </li>
  </ul>
  <i id="right" class="fa-solid fa-angle-right"></i>
</div>



  <!-- Top dishes -->
  <section id="dishGrid">
    <div class="container">
      <h2 class="dishGrid__title">
        Topp Rätter
      </h2>
      <div class="dishGrid__wrapper">
        <div class="dishGrid__item">
          <div class="dishGrid__item__img">
            <img src="./images/food-1.png" alt="mat bild">
          </div>
          <div class="dishGrid__item__info">
            <h3 class="dishGrid__item__title">
              Vegansk Sallad Skål
            </h3>
            <h3 class="dishGrid__item__price">$12</h3>
            <div class="dishGrid__item__stars">
              <img src="./images/3star.png" alt="3 stjärnor">
            </div>
          </div>
        </div>
        <div class="dishGrid__item">
          <div class="dishGrid__item__img">
            <img src="./images/food-2.png" alt="mat bild">
          </div>
          <div class="dishGrid__item__info">
            <h3 class="dishGrid__item__title">
              Vegansk Pesto Zoodles
            </h3>
            <h3 class="dishGrid__item__price">$12</h3>
            <div class="dishGrid__item__stars">
              <img src="./images/3star.png" alt="3 stjärnor">
            </div>
          </div>
        </div>
        <div class="dishGrid__item">
          <div class="dishGrid__item__img">
            <img src="./images/food-7.png" alt="mat bild">
          </div>
          <div class="dishGrid__item__info">
            <h3 class="dishGrid__item__title">
              Het Grön Skål
            </h3>
            <h3 class="dishGrid__item__price">$12</h3>
            <div class="dishGrid__item__stars">
              <img src="./images/3star.png" alt="3 stjärnor">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Discount -->
  <section id="discount">
    <div class="container">
      <div class="discount__wrapper">
        <div class="discount__images">
          <div class="discount__img1">
            <img src="./images/food-5.png" alt="Mat bild">
          </div>
          <div class="discount__img2">
            <img src="./images/food-4.png" alt="Mat bild">
          </div>
          <div class="discount__img3">
            <img src="./images/food-3.png" alt="Mat bild">
          </div>
        </div>
        <div class="discount__info">
          <h3 class="discount__text">20% RABATT</h3>
          <h3 class="discount__title">Demo Rätt För Rabatt</h3>
          <h3 class="discount__price">
            <span class="discount__oldPrice">$45</span>
            <span class="discount__newPrice">$35</span>
          </h3>
          <div class="discount__stars">
            <img src="./images/3star.png" alt="3 stjärnor">
          </div>
          <a class="btn primary-btn" href="booking">Boka Bord</a>
        </div>
      </div>
    </div>
  </section>
  
 
  <!-- Why Us -->
  <section id="whyUs">
    <div class="container">
      <div class="whyUs__wrapper">
        <div class="whyUs__left">
          <h2 class="whyUs__title">
            Varför Välja Vår Mat
          </h2>
          <p class="whyUs__text">
            Kvalitet på Service, Mat, Atmosfär och Värde för Pengarna är de primära elementen för att välja en restaurang. Star Cuisine är en av de mest utsökta fina matrestaurangerna i Chittagong-städer med en fängslande utsikt över GEC Hills, perfekt atmosfär och läckra rätter.
          </p>
        </div>
        <div class="whyUs__right">
          <div class="whyUs__items__wrapper">
            <div class="whyUs__item">
              <div class="whyUs__item__icon">
                <img src="./images/whyUs-icon1.svg" alt="kvalitetsmat">
              </div>
              <p class="whyUs__item__text">Kvalitetsmat</p>
            </div>
            <div class="whyUs__item">
              <div class="whyUs__item__icon">
                <img src="./images/whyUs-icon2.svg" alt="Klassisk smak">
              </div>
              <p class="whyUs__item__text">Klassisk smak</p>
            </div>
            <div class="whyUs__item">
              <div class="whyUs__item__icon">
                <img src="./images/whyUs-icon3.svg" alt="Skicklig kock">
              </div>
              <p class="whyUs__item__text">Skicklig kock</p>
            </div>
            <div class="whyUs__item">
              <div class="whyUs__item__icon">
                <img src="./images/whyUs-icon4.svg" alt="Bästa service">
              </div>
              <p class="whyUs__item__text">Bästa service</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Vittnesmål Avsnitt -->
  <section id="testimonial">
    <div class="container">
      <div class="testimonial__wrapper">
        <h2 class="testimonial__title">Vad Våra Kunder Säger</h2>
        <div class="testimonial__items__wrapper">
          <div class="testimonial__item">
            <div class="testimonial__item__img">
              <img src="./images/reviewer2.avif" alt="Sayed Ahmed">
            </div>
            <div class="testimonial__item__info">
              <h3 class="testimonial__item__name">Xan Cho</h3>
              <div class="testimonial__item__stars">
                <img src="./images/3star.png" alt="3 stjärnor">
              </div>
              <p class="testimonial__item__text">
                “Besökte Star Cuisine med vänner förra söndagen. Verkligen härlig måltid och mycket varmt välkomnande - vi skulle rekommendera den här härliga restaurangen och försöka gå tillbaka igen”
              </p>
            </div>
          </div>
         
          
          <div class="testimonial__item">
            <div class="testimonial__item__img">
              <img src="./images/reviewer1.avif" alt="Sayed Ahmed">
            </div>
            <div class="testimonial__item__info">
              <h3 class="testimonial__item__name">Elsa Andersson</h3>
              <div class="testimonial__item__stars">
                <img src="./images/3star.png" alt="3 stjärnor">
              </div>
              <p class="testimonial__item__text">
                “Jag vill bara säga tack för den utmärkta service vi fick på din restaurang igår kväll. Även om platsen var mycket upptagen hade vi fortfarande en utmärkt tid och uppskattade verkligen den levande underhållningen också!“
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 

  <!-- Nyhetsbrev Avsnitt -->
  <section id="newsletter">
    <div class="container">
      <div class="newsletter__wrapper">
        <div class="newsletter__info">
          <h3 class="newsletter__title">Gå Med i Nyhetsbrevet</h3>
          <p class="newsletter__text">
            Få aviseringar om de senaste nyheterna och senaste erbjudandena från "Star Cuisine"
          </p>
        </div>
        <div class="newsletter__form">
          <form action="/submit" method="post">
            <label for="email">
              <input type="email" name="email" placeholder="Din E-postadress" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" minlength="8" maxlength="50">
            </label>
            <button type="submit">Gå med</button>
          </form>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->  
  <%- include ("../partials/footer.ejs") %>

  <script src="./scripts/main.js"></script>
</body>

</html>